@model IEnumerable<Hotel_Reservation.Models.Room_Catalog>

@{
    ViewBag.Title = "Index";
}
@Html.Raw(TempData["deleteFail"])
@Html.Raw(TempData["deleteSuccess"])

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-concierge-bell"></i>
        Room Information
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            Room Type
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Room Quantity
                        </th>
                        <th>
                            Max Occupancy
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.extraFee)
                            </th>*@
                        <th>
                            Status
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <label>@Html.DisplayFor(modelItem => item.typeId)</label>
                            </td>
                            <td>
                                @{
                                    var image_Details = item.Image_Details.Where(i => (i.typeId.Equals(item.typeId)) && (i.imageOrder == 1));
                                }
                                <img src="@image_Details.FirstOrDefault().image" style="max-height:100px" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.typeName)
                            </td>
                            <td>
                                @*@{
                                    if (item.promotionId == "SD1")
                                    {
                                        <label>$</label> @Html.DisplayFor(modelItem => item.price)
                                        <label style="color:#17a2b8; font-weight:bold"> -5%</label>
                                    }
                                    else
                                    {*@
                                        <label>$</label> @Html.DisplayFor(modelItem => item.price)
                                    @*}
                                }*@
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.quantityOfRooms)
                            </td>
                            <td>
                                <label class="adultNum">
                                    @Html.DisplayFor(modelItem => item.numberOfAdults)&nbsp;
                                </label> 
                                <label>, </label>
                                <label class="childNum">
                                    @Html.DisplayFor(modelItem => item.numberOfChild)&nbsp;
                                </label>
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.extraFee)
                                </td>*@
                            <td>
                                @{
                                    if (item.catalogStatus == "Active")
                                    {
                                        <div class="btn btn-info active-btn">
                                            @Html.DisplayFor(modelItem => item.catalogStatus)
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="btn btn-warning inactive-btn">
                                            @Html.DisplayFor(modelItem => item.catalogStatus)
                                        </div>
                                    }
                                }
                            </td>

                            <td style="text-align:center">
                                <a href="javascript:void(0);" class="EditCatalog btn btn-success" data-id="@item.typeId"
                                   data-toggle="modal" data-target="#myModal">
                                    <i class="fas fa-edit"></i> Edit
                                </a>
                                <a href="@Url.Action("Delete", "AdminRoom_Catalog", new { id = item.typeId })"
                                   class="btn btn-danger" onclick="return confirm('Are you sure ?')">
                                    <i class="fas fa-trash-alt"></i> Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent' style="padding:15px">
            </div>
        </div>
    </div>
</div>

<script src="~/Assets/libs/jQuery/dist/jquery.js"></script>
<script>
    function PluralDetect() {
        let adultIdCount = 0
        let childIdCount = 0
        $('.adultNum').each(function () {
            let adult = parseInt($(this).text())
            adultIdCount++
            if (adult > 1) {
                let adultId = "adultLbl" + adultIdCount.toString()
                let adultLabel = $(`<label id=${adultId}></label>`).text('Adults')
                $(this).after(adultLabel)
                console.log('adults')
            } else {
                let adultId = "adultLbl" + adultIdCount.toString()
                let adultLabel = $(`<label id=${adultId}></label>`).text('Adult')
                $(this).after(adultLabel)
                console.log('adult')
            }
            console.log(this)
        })

        $('.childNum').each(function () {
            let child = parseInt($(this).text())
            childIdCount++
            if (child > 1) {
                let childId = "childLbl" + childIdCount.toString()
                let childLabel = $(`<label id=${childId}></label>`).text('Children')
                $(this).after(childLabel)
                console.log('children')
            } else {
                let childId = "adultLbl" + childIdCount.toString()
                let childLabel = $(`<label id=${childId}></label>`).text('Child')
                $(this).after(childLabel)
                console.log('child')
            }
        })
    }

    $(document).ready(() => PluralDetect())
</script>
