@model IEnumerable<Hotel_Reservation.Models.Room_Catalog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<section class="site-content-area">
    <div class="container-fluid">
        <div class="row">
            <div class="vk-gallery-grid-full-banner">
                <div class="vk-about-banner">
                    <div class="vk-about-banner-destop">
                        <div class="vk-banner-img"></div>
                        <div class="vk-about-banner-caption">
                            <h2>Our Room</h2>
                            @*<h3 style="color: white">
                                Luxurious & Convenient
                            </h3>*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="vk-room-list-content">
                <div class="container">
                    <div class="vk-room-list-header">
                        <h2>Luxurious & Convenient</h2>
                        <div class="vk-room-list-border"></div>
                    </div>
                    <div class="row" style="margin-top:80px">
                        @{
                            //var search = Request["txtRoom"];
                            //if (string.IsNullOrEmpty(search))
                            //{
                            foreach (var room in Model)
                            {
                                <div class="roomitem item">
                                    <div class="col-md-6 vk-dark-our-room-item-left  vk-clear-padding">
                                        <div class="vk-dark-our-room-item-img">
                                            @{
                                                var image_Details = room.Image_Details.FirstOrDefault(i => i.imageOrder == 1);
                                                var promotion = room.Promotions
                                                                .FirstOrDefault(p => p.appliedRoomType.Equals(room.typeId) && p.promotionStatus == "Processing");
                                            }
                                            <img src="@image_Details.image" class="img-responsive" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 vk-dark-our-room-item-right vk-clear-padding">
                                        <div class="vk-dark-our-room-item-content">
                                            <h3><a href="#">@room.typeName</a></h3>
                                            <ul>
                                                <li>
                                                    <p>
                                                        <i class="fa fa-users" aria-hidden="true"></i>
                                                        Max Occupancy : <span class="adultNum">@room.numberOfAdults&nbsp;</span>
                                                        <span>, </span>
                                                        <span class="childNum">@room.numberOfChild&nbsp;</span>
                                                    </p>
                                                </li>
                                                <li><p><i class="fa fa-info-circle" aria-hidden="true"></i> Info <span> : @room.description</span></p></li>
                                                <li>
                                                    <p>
                                                        @if (promotion != null)
                                                        {
                                                            <i class="fa fa-angle-double-up" aria-hidden="true" style="margin-left: 2px"></i>
                                                            <label style="color: #b0914f">
                                                                @promotion.promotionDescription
                                                            </label>
                                                        }
                                                    </p>
                                                </li>
                                            </ul>

                                            @*<div class="room-details">
                                                    <a href="@Url.Action("Details","Homes", new { id = room.typeId})"> Details <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                                </div>*@

                                            <div class="vk-dark-our-room-item-book" style="margin-top:50px">
                                                <div class="vk-dark-our-room-item-book-left">
                                                    <ul>
                                                        <li>
                                                            <p>Price: </p>
                                                        </li>
                                                        <li>
                                                            <p>$@string.Format("{0:N0}", room.price)/ <span>Night</span></p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="vk-dark-our-room-item-book-right">
                                                    <h4>
                                                        @{
                                                            var promotionId = promotion != null ? promotion.promotionId : null;
                                                        }
                                                        <a href="@Url.Action("Details","Homes", new { id = room.typeId, promotionId = promotionId })" class="btn-book-now">
                                                            &nbsp;DETAILS
                                                        </a>
                                                    </h4>
                                                    @*<div class="clearfix"></div>*@
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>

<script src="~/CustomerLayout/js/jquery.min.js"></script>
<script src="~/Assets/js/demo/self-define.js"></script>
<script>
    $(document).ready(PluralDetect('.adultNum', '.childNum'))
</script>


